.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    text-align: center;
}

.category-box {
    background-color: rgb(163, 163, 194);
    height: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: bold;
}
